<?xml version="1.0"?>

<robot name="wheel" xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- Include xacro for materials and inertials -->
  <xacro:include filename="$(find rave_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find rave_description)/urdf/inertials.xacro"/>

  <!-- Properties -->

  <!-- Car steering model front (steerable) wheel links (left/right) -->
  <xacro:macro name="front_wheel_lr" params="name parent">


  </xacro:macro>

  <!-- Car steering model rear wheel links (left/right) -->
</robot>
